<html>
<head>
<title>deuce</title>
<link rel="stylesheet" href="/styles/styles.css" type="text/css" />
<script src="/scripts/jquery-1.4.2.js"></script>
</head>
<body>
{function menu}
<a href="/">home</a> | <a href="/card/info">card info</a>
{/function menu}
<p>
{function body}page to insert body here{/function body}
</body>
</html>