<html>
<head>
<title>deuce</title>
</head>
<body>
{function menu}
<a href="/">home</a> | <a href="/card/info">card info</a>
{/function menu}
<p>
{function body}page to insert body here{/function body}
</body>
</html>